body{
  font-family: 'Helvetica';
}

#phone {
  background-image: url('../assets/phoneFrame.png');
  background-size: cover;
  width: 300px;
  height: 634px;
  margin: 10% auto;
  box-sizing: border-box;
  padding: 72px 13px 73px 12px;
  position: relative;
}

#screen {
  width: 100%;
  height: 100%;
}

#msg_scroller{
  height: 344px;
  overflow-y: scroll;
  white-space: nowrap;
}

#bottom_aligner{
  height: 98%;
  display: inline-block;
  width: 0;
}

#msgs{
  vertical-align: bottom;
  display: inline-block;
  width: 98%;
}

.msg{
  margin: 10px 5px 15px;
  white-space: normal;
}

.msg .content{
  display: inline-block;
  box-sizing: border-box;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  word-break: break-word;
}

.msg.right{
  text-align: right;
}

.msg.right .content{
  border-bottom-right-radius: 0;
  background: red;
}

.msg.right .right-triangle{
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
}

.msg.left{
  text-align: left;
}

.msg.left img{
   height: 38px;
   margin-left: 3px;
   vertical-align: bottom;
   position: relative;
   top: 10px;
}

.msg.left .content{
  border-bottom-left-radius: 0;
  background: blue;
}

.msg.left .left-triangle{
  border-bottom: 10px solid blue;
  border-left: 10px solid transparent;
}


#textarea_wrapper{
  border-top: 1px solid #EAEBEA;
  background: #f7fafb;
  height: 80px;
}

#textarea_wrapper textarea {
  resize: none;
  margin: 4px 2px 4px 5px;
  width: 70%;
  height: 49px;
  border: 1px solid #EAEBEA;
  font-size: 16px;
  padding: 10px;
}

#send{
  font-size: 14px;
  font-weight: bold;
  color: #549ADD;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  border: none;
}

#status_bar {
  padding: 3px 10px;
  height: 18px;
  background: #F7FAFB;
  font-size: 14px;
}

#status_bar #signal {
  float: left;
}

#status_bar #signal .fa-wifi {
  margin-left: 5px;
}

#status_bar #signal .fa-circle {
  font-size: 50%;
  margin-right: -2px;
  position: relative;
  top: -2px;
}

#status_bar #time {
  text-align: center;
}

#status_bar #battery {
  float: right;
}

#title{
  text-align: center;
  background: #F7FAFB;
  font-size: 22px;
  padding: 8px;
  border-bottom: 1px solid #EAEBEA;

}
